@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #6b7280; /* Fundo cinza escuro igual a imagem */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}